* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

body {
  font-family: "Red Hat Display", sans-serif;
  background-image: url("images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  background-size: contain;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: lighter;
  color: #232b2b;
}
h3 {
  font-family: "Red Hat Display Black 900", sans-serif;
  font-size: 1.2rem;
  font-weight: 900  ;
}
h3,
p {
  text-align: center;
}
.plan {
  background-color: hsl(225, 100%, 98%);
  width: 85%;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 16px 8px;
  border-radius: 8px;
}
.plan span {
  font-weight: 760;
  color: #232b2b;
}

.container {
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 53vh;
  margin: 10vh auto;
  height: 85vh;
  background-color: white;
}

#change {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}

#cta {
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  margin: 0 auto;
  width: 85%;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  font-weight: 700;
  padding: 1rem 3rem;
}

#cancel{
    text-align: center;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
}

.container > img {
  object-fit: contain;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


@media screen and (max-width:768px) {
    body{
        background-image: url("images/pattern-background-mobile.svg");
        max-width: 100vw;
    }
    .container{
        max-width: 90vw;
        font-size: clamp(.85rem, 2vw, 2rem);
        margin:6vh auto;
        gap: 2rem;
        min-height: 90vh;
    }
    
}